oidcenv
oidcenv/*
oidcenv2
oidcenv2/*
node_modules
test.ipynb
__pycache__
service-2.json
qbusiness
qbusiness/*
custom_service
custom_service/*
sample_tickets
sample_tickets/*

# CDK asset staging directory
.cdk.staging
cdk.out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

TEMP.md
IAM_Role.txt
call_chat_sync.py
testing.ipynb
.env
